.idea/
vendor/
node_modules/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
public/storage
.env.*.php
.env.php
.env

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
